@import "tailwindcss";
@plugin "daisyui"{ 
    themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #7F5BFF;
  --color-secondary: #00C6FF;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
